{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/viewFile-style.css') }}">

<!-- Script to make iframe decide page height -->
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 80 + 'px';
    this.document.body.style.wordWrap = 'break-word';
  }
</script>


<h1>{{ data[1] }}</h1>

<div id="iframeWrapper">
    <iframe style="border: 0; width: 100%;" src={{ url_for('showFile', fileCode=data[2]) }} frameborder="0" onload="resizeIframe(this);"></iframe>
</div>

{% include "footer.html" %}
